<p style="color: green"><%= notice %></p>

<h1>Listings</h1>

<div id="listings">
  <% @listings.each do |listing| %>
    <%= listing.name %>
    <p>
      <%= link_to "Show this furniture", listing %>
    </p>
  <% end %>
</div>

<% if policy(Listing).new? %>
  <%= link_to "New listing", new_listing_path %>
<% end %>
