<%= render @listing %>

<div>
  <% if policy(@listing).edit? %>
      <div id="btn-flat">
    <%= link_to "Edit", edit_listing_path(@listing), class: "btn btn-flat"%>
      </div> |
      <div id="btn-flat">
    <%= button_to "Delete", @listing, method: :delete, class: "btn btn-flat" %>
      </div>
  <% end %>
<br><br>
    <div id="btn-flat">
      <%= link_to "Listings", listings_path, class: "btn btn-flat"%>
    </div>
</div>
