// Import page-specific CSS files here.
@import "home";
@import "listing";

h1 {letter-spacing: 0.56em;
  font-weight: 700;
  font-size: 3.88vmin;
  text-align: center;
  color: #13211B;
}

.my-test {
  color: red;
}
