  <div class="footer-basic">
    <footer>
      <div class="social">
        <a href="https://www.instagram.com/julienbrllard/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://twitter.com/Lamborghini?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target="_blank"><i class="fa-brands fa-twitter"></i></a>
        <a href="https://www.facebook.com/gsalavert" target="_blank"><i class="fa-brands fa-facebook"></i></a>
        <a href="https://www.linkedin.com/in/balthazar-vatelot-b4246a19b/?originalSubdomain=fr" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
      </div>
        <ul class="list-inline">
          <li class="list-inline-item"><a href="https://finest-furniture.herokuapp.com/">Home</a></li>
          <li class="list-inline-item"><a href="https://finest-furniture.herokuapp.com/about">About</a></li>
          <li class="list-inline-item"><a href="https://kitt.lewagon.com/alumni">Careers</a></li>
          <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
        </ul>
        <p class="copyright">Finest Furniture © 2022</p>
    </footer>
  </div>
