<div class="mynav">
  <input type="checkbox" id="mynav-check">
  <div class="mynav-header">
    <div class="mynav-title">FINEST <br> FURNITURE</div>
  </div>
  <div class="mynav-btn">
    <label for="mynav-check">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>

  <div class="mynav-links">
    <a href="/" target="_blank">Home</a>
    <a href="/" target="_blank">About</a>
    <a href="/" target="_blank">Services</a>
    <a href="/" target="_blank">Pricing</a>
    <a href="/" target="_blank">Contact</a>
    <a href="/"><i class="fa-solid fa-user"></i></a>
  </div>
</div>
