
<h1>Home</h1>


<div class="cards">

  <div class="card content">
    <div class="card-content">
      <a href="https://www.chrono24.fr/rolex/rolex-daytona-black-dial-random-serial--id23488565.htm" target="_blank">
        <div class="card-img">
          <img src="https://www.gallery-wa.com/wp-content/uploads/wa-design-gallery-sori-yanagi-buterffly-elephant-stool-adrian-pearsall-kenzo-tange-american-craft-studio-prouve-perriand-isamu-noguchi-akari-rudolph-condon-andre-borderie.jpg">
        </div>
        <div class="card-label">New!</div>
        <div class="card-title">
          Original Satoshi Japonese Table
        </div>
      </a>
    </div>
  </div>

  <div class="card content">
    <div class="card-content">
      <a href="https://www.chrono24.fr/rolex/rolex-daytona-black-dial-random-serial--id23488565.htm" target="_blank">
        <div class="card-img">
          <img src="https://www.journaldujapon.com/wp-content/uploads/2021/06/Akari-24-N-1951-_-Wa-design-gallery--scaled.jpg">
        </div>
        <div class="card-title">
          Paper Light
        </div>
      </a>
    </div>
  </div>

  <div class="card content">
    <div class="card-content">
      <a href="https://www.chrono24.fr/rolex/rolex-daytona-black-dial-random-serial--id23488565.htm" target="_blank">
        <div class="card-img">
          <img src="https://inter-fair.com/Content/img/Logos/49/4937/493743/header4.jpg">
        </div>
        <div class="card-label">New!</div>
        <div class="card-title">
          Arabic Lamp
        </div>
      </a>
    </div>
  </div>

<div class="card content">
    <div class="card-content">
      <a href="https://www.chrono24.fr/rolex/rolex-daytona-black-dial-random-serial--id23488565.htm" target="_blank">
        <div class="card-img">
          <img src="https://i.pinimg.com/736x/c6/c7/81/c6c781a9eaaae8814c09878be167561c.jpg">
        </div>
        <div class="card-title">
          Set of Chairs and Table
        </div>
      </a>
    </div>
  </div>

</div>
