.btn-flat {
  display: inline-block;
  height: 50px;
  width: 176px;
  box-sizing: border-box;
  border-color: #13211B;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #13211B;
  background-color: #ffffff;
  cursor: pointer;
  outline: none;
  justify-content: center;
  padding-top: 13px;
}

.btn-flat:hover {
  background-color: #13211B;
  color: #ffffff;
}

#btn-settings  {
  a {
    color: #13211B;
  }
  width: 100px;
  margin-right: 20px;
  position: absolute;
  top: 50px;
  right:30px;
}
