
.cards {
  color: black ;
  width: calc(100% - 2em);
  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1em;
    grid-template-areas:
      "a a b c"
      "a a d d";
    width: 100%;
  padding: 40px;
  padding-top: 0px;
}

.card {
  width: 100%;
  position: relative;
  transition: all 0.25s ease;
  cursor: pointer;
  font-weight: 300;
  display: flex;
  &:last-child {
    margin-bottom: 0px;
  }
  &:before {
    height: 0;
    content: "";
    display: block;
    padding-bottom: 47.36%;
    transition: 0.5s;
  }
  &.content {
    &:after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 0%;
      content: "";
      // background: linear-gradient(to bottom, rgba(0, 0, 0, 0), black);
    }
  }
  &:nth-child(1) {
    grid-area: a;
  }
  &:nth-child(2) {
    grid-area: b;
  }
  &:nth-child(3) {
    grid-area: c;
  }
  &:nth-child(4) {
    grid-area: d;
  }
  &-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  &-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &-label {
    position: absolute;
    top: .45rem;
    left: .45rem;
    background: #337D8C;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 0.7em;
    color: white;
    padding: 0.5em;
  }
  &-title {
    position: absolute;
    left: 1em;
    bottom: 1em;
    color: #d6dbeb;
    z-index: 5;
    font-size: 0.8em;
  }
  &:nth-child(2) {
    .card-label {
      background: #337D8C;
    }
  }
  &:nth-child(3) {
    .card-label {
      background: #337D8C;
    }
  }
  &:hover {
    transform: scale(1.05);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.35);
    .form-title {
      &:before {
        filter: blur(3px);
        opacity: 0.7;
      }
    }
  }
}

.card-content {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(168, 168, 168, 0.2);
  display: flex;
  border-radius: 3px;
}

.card.content {
  border-radius: 3px;
}

.card-content:hover {
  background-color: black;
}

.card-content > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card.content:hover .card-img {
  opacity: 0.3;
}

.card-content:hover .info {
  opacity: 1;
  transform: translateY(0px);
}

.card-content .info {
  position: relative;
  z-index: 3;
  color: white;
  opacity: 0;
  transform: translateY(30px);
  transition: 0.5s;
}

.card-content h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-content p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-content .card-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  width: 100%;
}

.card-infos .card-user {
  position: absolute;
  right: 16px;
  bottom: -20px;
  width: 40px;
}

.card-white {
  background-color: white;
  padding: 35px;
  border-radius: 4px;
  margin: 20px 0px;
  text-align: center;
  width: 300px;
  height: 500px;
}

.content-wrap-dashboard {
  margin: 40px;
  justify-content: center;
}

.dashboard-product-card {
  width: 830px;
}

.dashboard-product-img {
  float: left;
  height: 420px;
  width: 470px;
}

.dashboard-product-img img {
  border-radius: 3px 0px 0px 3px;
  height: 420px;
  width: 470px;
}

#profile {
  h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    .img-circle {
      border-radius: 50%;
      object-fit: cover;
      width : 150px;
      height : 150px;
    }
  }
}

.about-card-white {
  background-color: white;
  padding: 35px;
  border-radius: 3px;
  text-align: center;
  border: 10px solid;
  border-color: #F4F4F4;
}

.img-circle {
  border-radius: 50%;
  object-fit: cover;
  width : 150px;
  height : 150px;
}

.column {
  float: left;
  width: 25%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}