/* NAVBAR STYLING STARTS */
.mynav > :any-link {
  text-decoration: none;
}
.mynav {
  padding-top: 40px;
  width: 100%;
  background-color: #ffffff;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: relative;
  border-bottom: thin solid #eae8e3;
}

.mynav > a > .mynav-header {
  display: inline;
}

.mynav > a > .mynav-header > .mynav-title {
  // changed display to inline and cut padding to align center title
  display: inline;
  color: #13211B;
  padding: 10px 10px 10px 10px;
  letter-spacing: 0.56em;
  font-weight: 700;
  font-size: 3.88vmin;
  line-height: 45px;
}

.mynav > .mynav-btn {
  display: none;
}

.mynav > .mynav-links {
  display: inline;
  float: right;
  font-size: 18px;
  margin-right: 3vw;
}

.mynav > .mynav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #13211B;
  border-bottom: thin solid white;
}

.mynav > .mynav-links > a:hover {
  transition-duration: 0.3s;
  border-bottom: thin solid;
}

.mynav > #mynav-check {
  display: none;
}

@media (max-width:600px) {
  .mynav > .mynav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .mynav > .mynav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .mynav > .mynav-btn > label:hover,.mynav  #mynav-check:checked ~ .mynav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .mynav > .mynav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .mynav > .mynav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .mynav > .mynav-links > a {
    display: block;
    width: 100%;
  }
  .mynav > #mynav-check:not(:checked) ~ .mynav-links {
    height: 0px;
  }
  .mynav > #mynav-check:checked ~ .mynav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}

.mynav-horizontal{
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #ffffff;
}
