<h1>Editing furntiure</h1>

<%= render "form", furntiure: @furntiure %>

<br>

<div>
  <%= link_to "Show this furntiure", @furntiure %> |
  <%= link_to "Back to furntiures", furntiures_path %>
</div>
